@model IEnumerable<ToDoList.Models.TodoList>
@{
    ViewData["Title"] = "Index Page";
}

<div class="container">
    <div class="header">
        <div id="date"></div>
    </div>
    <p>   
         <a class="btn btn-success" asp-action="Create">Add a new ToDo</a>
</p>
  <table class="table table-bordered">
    <thead>
        <tr>
            <th> Content </th>
            <th>Edit</th>
            <th>Delete</th>


        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Content
                </td>
                <td>
                    <a class="btn btn-info" asp-action = "Edit" asp-route-id="@item.id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action = "Delete" asp-route-id="@item.id">Delete</a>
               </td>
            </tr>
        }
    </tbody>
  </table>

</div>

@section scripts{
    <script>
        const dateElement = document.getElementById("date");
        const options = {weekday : 'long', month: 'short' , day:'numeric'}; 
        const today = new Date();

        dateElement.innerHTML = today.toLocaleDateString("fr-FR", options);
    </script>
}